# ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!.gitattributes
!lerna.json
!package.json
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php
wp-content/plugins/breadcrumb-navxt

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore plugin build files
build/

# ignore the theme compiled files
wp-content/themes/*/css/
wp-content/themes/*/js/

# ignore log files and databases
*.log
*.sql
*.sqlite
